@model IEnumerable<ArtMin.Application.ViewModels.JogadorViewModel>

@{
    ViewBag.Title = "Cadastro de Jogadores";
}

<h2>Jogadores Cadastrados</h2>

<p>
    @Html.ActionLink("Novo Cadastro", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Goleiro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Email</td>
            <td>@item.GoleiroDescricao</td>
            <td>@item.AdminDescricao</td>
            <td>@item.AtivoDescricao</td>

            <td>
                <button type="button" class=" btn btn-link" onclick="AbrirEdicao(@item.JogadorId)">
                    Editar
                </button> |

                @Html.ActionLink("Detalhes", "Details", new { id = item.JogadorId }) |

                <button type="button" class=" btn btn-link" onclick="ConfirmacaoRemocao(@item.JogadorId)">
                    Remover
                </button>
            </td>
        </tr>
    }

</table>

@section scripts {
    @Scripts.Render("~/Scripts/Views/Jogador/Jogador.js")
}

@Html.Partial("../Shared/Jogador/_Modais")